---
language: ruby
cache: bundler
sudo: false

stages:
  - check
  - spec
  - name: deploy
    if: 'tag IS present'

bundler_args: --without development system_tests --path .vendor

notifications:
  email: false

addons:
  apt:
    packages:
      - rpm
      - cracklib-runtime
      - openssl
      - libicu-dev

before_install:
  - rm -f Gemfile.lock
  - gem install -v '~> 1.16' bundler


jobs:
  include:
    ###  Testing on Travis CI is indefinitely disabled
    ###
    ###  See:
    ###    * https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
    ###    * https://simp-project.atlassian.net/browse/SIMP-8703
    ###
    ###  - stage: check
    ###    name: 'Syntax, style, and validation checks'
    ###    rvm: 2.4.9
    ###    script:
    ###      - bundle exec rake pkg:compare_latest_tag
    ###      - bundle exec rake pkg:create_tag_changelog
    ###      - bundle exec rake pkg:gem

    ###  # Test with Ruby versions packaged with standard Puppet All-in-one installs
    ###  - stage: spec
    ###    name: 'Ruby packaged with Puppet 5.x'
    ###    rvm: 2.4.9
    ###    env:
    ###      - PUPPET_VERSION="~> 5.5"
    ###      - SIMP_SKIP_NON_SIMPOS_TESTS=1
    ###    script:
    ###      - bundle exec rake spec

    ###  - stage: spec
    ###    name: 'Ruby packaged with Puppet 6.x'
    ###    rvm: 2.5.8
    ###    env:
    ###      - PUPPET_VERSION="~> 6.0"
    ###      - SIMP_SKIP_NON_SIMPOS_TESTS=1
    ###    script:
    ###     - bundle exec rake spec

    - stage: deploy
      rvm: 2.4.9
      script:
        - true
      before_deploy:
        - bundle exec rake clobber
        - "export GEM_VERSION=`ruby -r ./lib/simp/cli/version.rb -e 'puts Simp::Cli::VERSION'`"
        - '[[ $TRAVIS_TAG =~ ^${GEM_VERSION}$ ]]'
      deploy:
        - provider: releases
          api_key:
            secure: "R6KNY9wDFtWVDXA0tC/We+OunS+8wiu4YHymDh5NBO/NWm0Dt5I6+Ado8QfjW5jZWja0Bl1cpjsf65Ln+XMQ6MDsiRvidnqMKTyyzjF/Y5U1inRm6i2+XGCCxKPGVJY6IrSidJg0NIlqKKghaq7DYDT5cDopcA/xHqY/S4mxvJf1OQQ7JdN0GtOrNv2h+lL9qlpvE8ogvb0fQyZXyKkz3TCCyauzb2w6ay4TjIqD2yo8yy3nUInyRDJf6XIyxWdiOFNHe3cwiYblqmosPUMYBf6qkzGPzmsQsmPoqN0+WopMnaNShPoiVoTdXIJDPe0deWmFbvFUvYL1zYoxZ+Vggjd+wXXJBiB3i/7xC3MOj9EPDQtY4AdjG5ZM6mqyjX7jFzv31DfK8WPa11OhDeOYgWfTc8b3MkeDWsKqC/IjPs83M8Qz03Fwxtocx0cNP2BmIDxxMi8GRT45CG3BYONVFHvXo/uGmUdY1jm4ke8RNOpem73kLbYmFrb314UM+AwwF3QxKc5PRHYIRy4HHFlCRagbl0+pga42w1Obp5PEVPCoyt9HAJ5FRIaR5Y7hogn1HiqpZXlnDRGWBVHqASvyntc2sHtXwIhtihUzAT037+Bk5+BS1tsYbJhvCmj12GUypWvUyryUH0354SvKitoHbfPITH8Tn7dKissftfF4J9o="
          on:
            tags: true
            condition: "($SKIP_PUBLISH != true)"

